beautifulsoup4==4.6.3
dj_config_url==0.1.1
dj_database_url==2.2.0
Django==5.0.6
matplotlib==3.9.1.post1
pandas==2.2.2
plotly==5.22.0
Requests==2.32.3
scikit_learn==1.5.1
seaborn==0.13.2
psycopg2-binary==2.9.9
whitenoise==6.7.0
gunicorn==22.0.0