<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats Charts</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Styling for top navigation */
        .top-nav {
            margin-bottom: 1rem; /* Space between nav and content */
        }

        .top-nav .nav-link {
            padding: .5rem 1rem; /* Adjust padding for better spacing */
        }

        .top-nav .nav-link.active {
            font-weight: bold; /* Highlight active link */
        }

        .card {
            margin-bottom: 1rem; /* Space between cards */
        }

        /* Hide all charts by default */
        .chart-content {
            display: none;
        }
    </style>
</head>
<body>
    <!-- Hyperlinks for navigation -->
    <ul class="nav top-nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'team_chart_filter' %}">Team Chart Filter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stats_charts' %}">Stats Charts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stats_charts_filter' %}">Stats Charts Filter Greater Than</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stats_charts_filter_less_than' %}">Stats Charts Filter Less Than</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'team_chart' %}">Boxplots and Team Charts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'versus' %}">Team Comparisons</a>
        </li>
    </ul>

    <div class="container mt-4">
        <h1 class="mb-4 text-center">Statistics</h1>

        <!-- Dropdown for chart selection -->
        <div class="form-group">
            <label for="chartSelect">Select a Chart</label>
            <select class="form-control" id="chartSelect">
                <option value="">-- Select a Chart --</option>
                <option value="average-differential">Average Differential</option>
                <option value="average-by-team">Average by Team</option>
                <option value="wins">Wins by Team</option>
                <option value="max-points-by-team">Max Points by Team</option>
                <option value="best-possible">Best Possible Score by Team</option>
                <option value="worst-possible">Worst Possible Score by Team</option>
                <option value="avg-points-week">Average Points by Team</option>
                <option value="median-possible">Median Possible Score by Team</option>
                <option value="average-by-team-win-loss">Average of Win and Loss by Team</option>
                <option value="median-margin">Median Winning/Losing Margin</option>
                <option value="median-points">Median Points For/Against</option>
                <option value="max-points-single-game">Max Points Scored in A Single Game</option>
                <option value="max-qb-points">Max Points Scored in A Single Game by QB</option>
                <option value="max-wr-points">Max Points Scored in A Single Game by WR</option>
                <option value="max-rb-points">Max Points Scored in A Single Game by RB</option>
                <option value="max-te-points">Max Points Scored in A Single Game by TE</option>
                <option value="max-k-points">Max Points Scored in A Single Game by K</option>
                <option value="max-def-points">Max Points Scored in A Single Game by DEF</option>
                <option value="min-points-single-game">Min Points Scored in A Single Game</option>
            </select>
        </div>

        <!-- Charts -->
        <div id="average-differential" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ average_differential_table|safe }}
                </div>
            </div>
        </div>
        <div id="average-by-team" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ average_by_team_table|safe }}
                </div>
            </div>
        </div>
        <div id="wins" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ wins_table|safe }}
                </div>
            </div>
        </div>
        <div id="max-points-by-team" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ max_points_table|safe }}
                </div>
            </div>
        </div>
        <div id="best-possible" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ best_possible_table|safe }}
                </div>
            </div>
        </div>
        <div id="worst-possible" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ worst_possible_table|safe }}
                </div>
            </div>
        </div>
        <div id="avg-points-week" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ avg_points_week_table|safe }}
                </div>
            </div>
        </div>
        <div id="median-possible" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ median_possible_table|safe }}
                </div>
            </div>
        </div>
        <div id="average-by-team-win-loss" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ average_by_team_table_win_and_loss|safe }}
                </div>
            </div>
        </div>
        <div id="median-margin" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ median_by_team_result_table|safe }}
                </div>
            </div>
        </div>
        <div id="median-points" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ median_by_team_table|safe }}
                </div>
            </div>
        </div>
        <div id="max-points-single-game" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ max_points_by_team_table|safe }}
                </div>
            </div>
        </div>
        <div id="max-qb-points" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ max_qb_points_by_team_table|safe }}
                </div>
            </div>
        </div>
        <div id="max-wr-points" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ max_wr_points_by_team_table|safe }}
                </div>
            </div>
        </div>
        <div id="max-rb-points" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ max_rb_points_by_team_table|safe }}
                </div>
            </div>
        </div>
        <div id="max-te-points" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ max_te_points_by_team_table|safe }}
                </div>
            </div>
        </div>
        <div id="max-k-points" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ max_k_points_by_team_table|safe }}
                </div>
            </div>
        </div>
        <div id="max-def-points" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ max_def_points_by_team_table|safe }}
                </div>
            </div>
        </div>
        <div id="min-points-single-game" class="chart-content">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ min_points_by_team_table|safe }}
                </div>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap and jQuery JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#chartSelect').change(function() {
                var selectedChart = $(this).val();
                $('.chart-content').hide(); // Hide all charts
                if (selectedChart) {
                    $('#' + selectedChart).show(); // Show the selected chart
                }
            });
        });
    </script>
</body>
</html>
