<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Tables</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add DataTables CSS -->
    <link href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.min.css" rel="stylesheet">
    <style>
        .chart-container {
            margin-bottom: 2rem;
            padding: 1rem;
            border-radius: .25rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
            overflow-x: auto;
        }

        /* Hide all charts by default */
        .chart-content {
            display: none;
        }
    </style>
</head>
<body>
    <!-- Collapsible Navbar for mobile responsiveness -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Top 10s Tables</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'team_chart_filter' %}">Team Chart Filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'stats_charts' %}">Stats Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'top_tens' %}">Top 10s</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'stats_charts_filter' %}">Charts Filter Greater/Less Than</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'team_chart' %}">Boxplots and Team Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'versus' %}">Team Comparisons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'win_probability_against_all_teams' %}">Win Probability Against All Teams</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="my-4 text-center">Top 10s</h1>

        <!-- Dropdown for chart selection -->
        <div class="form-group">
            <label for="chartSelect">Select a Chart</label>
            <select class="form-control" id="chartSelect">
                <!-- Options -->
                <option value="">-- Select a Chart --</option>
                <option value="largest-margin">Top 10 Largest Margin Wins</option>
                <option value="smallest-margin">Top 10 Smallest Margin Wins</option>
                <option value="qb-points-top">Top 10 QB Points</option>
                <option value="qb-points-bottom">Bottom 10 QB Points</option>
                <option value="wr-points-top">Top 10 WR Points</option>
                <option value="wr-points-bottom">Bottom 10 WR Points</option>
                <option value="rb-points-top">Top 10 RB Points</option>
                <option value="rb-points-bottom">Bottom 10 RB Points</option>
                <option value="te-points-top">Top 10 TE Points</option>
                <option value="te-points-bottom">Bottom 10 TE Points</option>
                <option value="k-points-top">Top 10 Kicker Points</option>
                <option value="k-points-bottom">Bottom 10 Kicker Points</option>
                <option value="def-points-top">Top 10 Defense Points</option>
                <option value="def-points-bottom">Bottom 10 Defense Points</option>
            </select>
        </div>

        <!-- HTML tables for each top 10 list -->
        <div id="largest-margin" class="chart-content chart-container">
            {{ top_10_largest_win_margins_table|safe }}
        </div>
        <div id="smallest-margin" class="chart-content chart-container">
            {{ top_10_smallest_win_margins_table|safe }}
        </div>
        <div id="qb-points-top" class="chart-content chart-container">
            {{ top_10_qb_points_largest_table|safe }}
        </div>
        <div id="qb-points-bottom" class="chart-content chart-container">
            {{ top_10_qb_points_smallest_table|safe }}
        </div>
        <div id="wr-points-top" class="chart-content chart-container">
            {{ top_10_wr_points_total_largest_table|safe }}
        </div>
        <div id="wr-points-bottom" class="chart-content chart-container">
            {{ top_10_wr_points_total_smallest_table|safe }}
        </div>
        <div id="rb-points-top" class="chart-content chart-container">
            {{ top_10_rb_points_total_largest_table|safe }}
        </div>
        <div id="rb-points-bottom" class="chart-content chart-container">
            {{ top_10_rb_points_total_smallest_table|safe }}
        </div>
        <div id="te-points-top" class="chart-content chart-container">
            {{ top_10_te_points_total_largest_table|safe }}
        </div>
        <div id="te-points-bottom" class="chart-content chart-container">
            {{ top_10_te_points_total_smallest_table|safe }}
        </div>
        <div id="k-points-top" class="chart-content chart-container">
            {{ top_10_k_points_largest_table|safe }}
        </div>
        <div id="k-points-bottom" class="chart-content chart-container">
            {{ top_10_k_points_smallest_table|safe }}
        </div>
        <div id="def-points-top" class="chart-content chart-container">
            {{ top_10_def_points_largest_table|safe }}
        </div>
        <div id="def-points-bottom" class="chart-content chart-container">
            {{ top_10_def_points_smallest_table|safe }}
        </div>
    </div>

    <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Add Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add DataTables JS -->
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
            // Initialize DataTables for each top 10 table with default page length of 10
            $('.chart-content table').DataTable({
                "pageLength": 10
            });

            // Show selected chart content
            $('#chartSelect').change(function() {
                $('.chart-content').hide();
                var selectedChart = $(this).val();
                if (selectedChart) {
                    $('#' + selectedChart).show();
                }
            });
        });
    </script>
</body>
</html>
